
body{
    background:linear-gradient(144deg,rgba(255,250,232,1) 0%,rgba(255,242,226,1) 100%);
}

.fspsection{
    padding: 0 24px;
    /* border: 1px solid #000; */
}

.noticeforinput{
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}

.selectgroup{
  margin-bottom: 16px;
}

.labelforfssheet{
  font-size: 16px;
  margin-bottom: 8px;
}

.selectforfs{
  border-radius: 37.5px;
  height: 40px;
}


.startbtn{
  text-align: center;
  margin: 40px 0;
}



.questiondetail{
    font-size: 18px;
    margin: 18px auto 20px auto;
    color: #333;
    font-weight: 500;
    line-height: 28px;
}

.choices{
    border-radius: 37.5px;
    background-color: #fff;
    font-size: 16px;
    margin: 15px 0;
    padding: 2px 0;
}

.choiceOrder{
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.choiceOrder img {
  width: 40px;
  height: 40px;
}

.choicedetailcontent{
    padding: 13px 0;
}

/* 开始答题 */
#passBegin {

}
#passBegin .titleImg {
  width: 203px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

/* 开始答题 */
#passBegin .descImg {
  width: 283px;
  height: 54px;
  display: block;
  margin: 12px auto;
}

#passBegin .second {
  bottom: 176px;
  left: 0px;
  width: 100%;
  position: absolute;
  color: #999;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}

/* 答题 */
#videoContainer {
  width: 100%;
  height: 200px;
}
.choice-selected {
  background-image: linear-gradient(#AEFF68, #69E149);
}

.nodisplay {
  display: none;
}

#dis-nextBtn,#nextBtn,.nextPassBtn {
  margin-top: 24px;
  float: right;
  overflow: hidden;
}

#nextBtn img,#dis-nextBtn img,.nextPassBtn img{
  width: 152px;
  height: 105px;
  src: url(../../img/next_select.png);
}

/* 勋章 */
.top-medalContainer {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.top-medalContainer .bg {
  width: 100%;
}

.top-medalContainer .title {
  position: absolute;
  top: 55px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  font-size: 18px;
}
.top-medalContainer .icon {
  width: 100px;
  height: 126px;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 63px);
}
.bottom-medalContainer {
  position: relative;
  width: 100%;
}
.bottom-medalContainer .item {
  width: 33.3%;
  float: left;
  box-sizing: border-box;
}
.bottom-medalContainer .item img {
  display: block;
  width: 100px;
  height: 104px;
  margin: 0 auto;
}
.bottom-medalContainer .item p {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  color: #333;
  text-align: center;
}


.bottompic{
  position: absolute;
  z-index: -1;
  bottom: 0;
}