
body{
    background:linear-gradient(144deg,rgba(255,250,232,1) 0%,rgba(255,242,226,1) 100%);
}

.fspsection{
    padding: 0 24px;
    /* border: 1px solid #000; */
}

.noticeforinput{
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}

.selectgroup{
  margin-bottom: 16px;
}

.labelforfssheet{
  font-size: 16px;
  margin-bottom: 8px;
}

.selectforfs{
  border-radius: 37.5px;
  height: 40px;
}

.startbtn{
  text-align: center;
  margin: 40px 0;
}

.questionContent{
    /* height: 80%; */
    /* position: absolute;
    top: 2rem; */
    /* border: 1px solid #000; */
}

.questiondetail{
    font-size: 18px;
    margin-bottom: 20px;
}

.choices{
    border-radius: 37.5px;
    background-color: #fff;
    font-size: 16px;
    margin: 15px 0;
    padding: 2px 0;
}

.choiceOrder{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.choiceOrder img {
  width: 40px;
  height: 40px;
}

.choicedetailcontent{
    padding: 13px 0;
}

/* 答题 */
.choice-selected {
  background-image: linear-gradient(#AEFF68, #69E149);
}

.nodisplay {
  display: none;
}

#dis-nextBtn,#nextBtn {
  margin-top: 24px;
  float: right;
  overflow: hidden;
}

#nextBtn img,#dis-nextBtn img {
  width: 152px;
  height: 105px;
  src: url(../../img/next_select.png);
}


.bottompic{
  position: absolute;
  z-index: -1;
  bottom: 0;
}